/*=== GERAL ========================*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* Styles: */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --primary-color: #00856f;
  --headline: #212529;
  --paragraph: #495057;
  --brand-beige: #fffaf1;
  --brand-green: #dce9e2;

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans";
  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/*=== HEADER ========================*/

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green);

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  background: var(--primary-color);
  color: #fff;

  border: none;
  border-radius: 4rem;
  margin: 0 auto 6rem auto;
  height: 6.2rem;
  width: 26.3rem;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header .girl-photo {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border: 1px solid var(--brand-green);
  border-radius: 0.6rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;

  color: var(--primary-color);
  line-height: 150%;
}

/*=== NAVIGATION ====================*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
  position: fixed;
  top: 0;
}

nav.scroll svg:nth-child(1) path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*=== MENU-EXPANDED =================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

body.menu-expand .nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 2;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}
